/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable-next-line at-rule-no-unknown */
@import "tailwindcss/base";
/* stylelint-disable-next-line at-rule-no-unknown */
@import "tailwindcss/components"; /* stylelint-disable-line at-rule-no-unknown */
/* stylelint-disable-next-line at-rule-no-unknown */
@import "tailwindcss/utilities";
/* stylelint-enable at-rule-no-unknown */
